

#welcome{
    margin-top: 20px;
    text-align: center;
    font-family: $fontFamily2;
    font-size: $fontSizeOne;
    font-weight: $fontWeight;
    letter-spacing:$letterSpacing;
    background-color: black;
    color: white;
    padding: 10px;

}

#hessieSePlaaskombuis{
    margin-top: 100px;
    text-align: center;
    font-family: $fontFamily1;
    font-size: $fontSizeThree;
    font-weight: $fontWeight;
    letter-spacing:$letterSpacing;
}

#byHettieSteenkamp{
    text-align: center;
    font-family: "lucida handwriting";
    font-size: $fontSizeTwo;
    font-weight: $fontWeight;
    letter-spacing:$letterSpacing;

}







  #review{
    margin-top: 300px;
    text-align: center;
    font-family: $fontFamily1;
    font-size: $fontSizeTwo;
    font-weight: $fontWeight;
    letter-spacing:$letterSpacing; 
  }


  #randomReview{
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 250px;
    margin-right: 200px;
    text-align: center;    
    font-family: $fontFamily2;
    font-size: $fontSizeOne;
    font-weight: $fontWeight;
    letter-spacing:$letterSpacing; 
    line-height: 20px;
  }


  #subscribe{
    margin-top: 200px;
    text-align: center;
    font-family: $fontFamily1;
    font-size: $fontSizeTwo;
    font-weight: $fontWeight;
    letter-spacing:$letterSpacing; 
  }


  #subscribeText{
    margin-left: 250px;
    margin-right: 200px;
    text-align: center;    
    font-family: $fontFamily2;
    font-size: $fontSizeOne;
    font-weight: $fontWeight;
    letter-spacing:$letterSpacing; 
    line-height: 20px;
  }

  table{
    background-color: black;
    padding: 10px;
    margin-left: 490px;
    margin-right: auto;
    color: white;
   }


 

